<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Управление аудио</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-4">Управление аудио</h1>

  <form action="/audios/add" th:object="${audio}" method="post" class="mb-4">

    <div class="form-group">
      <label for="title">Название</label>
      <input type="text" id="title" class="form-control" th:field="*{title}" required/>
      <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Неправильное название</div>
    </div>
    <div class="form-group">
      <label for="tags">Теги</label>
      <select multiple class="form-control" id="tags" th:field="*{tags}">
        <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Добавить аудио</button>
  </form>

  <h2>Список аудио:</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="audio : ${audios}">
      <tr>
        <td th:text="${audio.id}"></td>
        <td th:text="${audio.title}"></td>
        <td>
          <form action="/audios/update" method="post" style="display:inline;" th:object="${audio}" >
            <input type="hidden" name="id" th:value="${audio.id}">
            <div class="form-group">
              <label for="title">Название</label>
              <input type="text" name="title" class="form-control" th:value="${audio.title}" required/>
              <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" >Неправильное название</div>
            </div>
            <div class="form-group">
              <label for="tags">Теги</label>
              <select multiple class="form-control"  th:field="*{tags}">
                <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
              </select>
            </div>
            <button type="submit" class="btn btn-warning">Изменить</button>
          </form>
          <form action="/audio/delete/{id}" th:action="'/audio/delete/' + ${audio.id}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger">Удалить</button>
          </form>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
